certifi==2022.12.7
chardet==3.0.4
dill==0.2.7
future==0.16.0
idna==2.5
itchat==1.2.32
psutil==5.2.2
pygorithm==0.1.dev2
PyMySQL==0.7.11
pypng==0.0.18
PyQRCode==1.2.1
redis==2.10.5
requests==2.18.1
SQLAlchemy==1.1.11
tornado==4.5.1
urllib3==1.21.1
wechat-sender==0.1.4
wxpy==0.3.9.8
